.loading {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top-color: #22c48b;
    animation: loading 1s linear infinite;
  }
  @keyframes loading {
    to {
      transform: rotate(360deg);
    }
  }